# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
env/*

# VS Code files
.vscode/
*.code-workspace

# Mac/Windows hidden files
.DS_Store
Thumbs.db

# Ignore video contents, but keep the folder
videos/*
!videos/.keep

# Ignore results contents, but keep the folder
results/*
!results/.keep

# Ignore log files inside results
results/*.log

# Ignore slide output formats, keep folder
!slides/README.md
